/excel_refcard_en.aux
/excel_refcard_en.log
/excel_refcard_en.out
/excel_refcard_en_letter.aux
/excel_refcard_en_letter.log
/excel_refcard_en_letter.out
/excel_refcard_en_letter.tex
/excel_refcard_de.aux
/excel_refcard_de.log
/excel_refcard_de.out
/excel_refcard_de_letter.aux
/excel_refcard_de_letter.log
/excel_refcard_de_letter.out
/excel_refcard_de_letter.tex
