/excel_refcard_en.aux
/excel_refcard_en.log
/excel_refcard_en.out
/excel_refcard_en_a4.pdf
/excel_refcard_en_letter.aux
/excel_refcard_en_letter.log
/excel_refcard_en_letter.out
/excel_refcard_en_letter.pdf
/excel_refcard_en_letter.tex